body {
    background-color: #ccff99;
    }

    h1{
        color: #0099ff;
        font-size: 36px;
    }
    
    h2{
        font-size: 14px;
        color: #0099cc;
    }

    p{
    font-size: 24px;
        color: #0099cc;
}

img {
    width: 400px;
    height: 500px;
    display: inline-block;
    float: center;
}
